---
name: Validation

on:
    push:
        branches: [main]
    pull_request:
        branches: ['*']

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

# Force to use color
env:
    FORCE_COLOR: true

jobs:
    # check links
    link-check:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v6
            with:
                submodules: true
        -   uses: gaurav-nelson/github-action-markdown-link-check@v1
            with:
                use-quiet-mode: yes
                # use-verbose-mode: no
                config-file: md_link_check_config.json
                folder-path: docs
                file-path: ./README.md
